<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestureVoice</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        button {
            padding: 10px 20px;
            font-size: 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Welcome to GestureVoice</h1>
    <h3>Your sign language to voice translation assistant</h3>
    <p>Our website helps turn sign language into spoken words. We're here to make communication easier for everyone.</p> 
    <p> Start using our tool to let your hands speak, and we'll help share your message out loud!</p>
    <a href="{{ url_for('index') }}">
        <button>Start Translate</button>
    </a>
</body>
</html>
